.thankyou-section{
    background-color: #f5f7fa;
    height: 100vmax;
    display: flex;
    justify-content: center;
    align-self: start;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container{
    margin-top: 4%;
    width: 100%;
}
.inner-container{
    margin:auto;
    width: 35%;
    padding:1%;
}

.thankyou-button{
position: static;
width: 95%;
height: 56px;
left: 0px;
top: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
}