.keepupdate-section {
  background-color: #f5f7fa;
  height: 100vmax;
  display: flex;
  justify-content: center;
  align-self: start;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container {
   margin-top: 1%;
  width: 100%;
  margin-right: 20%;
}
.inner-container {
  margin: auto;
  width: 50%;
  padding: 1%;
}
.header-section {
  position: static;
  height: 18%;
  width: 80%;
  left: 16px;
  top: 16px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.005em;
  font-feature-settings: "liga" off;
  color: #07283c;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 2% 0%;
}
.text-section {
  position: static;
  height: 50%;
  width: 80%;
  font-size: 18px;
}

.button-1 {
  border: 1.5px solid #07283c;
  background-color: #f5f7fa;
  border-radius: 4px;
  width: 80%;
  height: 56px;
  margin-bottom: 13px;
  font-weight: 600;
}
.button-2 {
  background: #ffcd00;
  border-radius: 4px;
  width: 80%;
  height: 56px;
  border-width: 0px;
  font-weight: 600;
}
