.keepupdate-section{
    background-color: #f5f7fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: start;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container{
    margin-top: 4%;
    width:100%;
    margin-left: 20%;
    margin-bottom: 6%;
}
.inner-container{
    margin:auto;
    width: 50%;
    padding:1%;
}
.header-section{
    position: static;
    height: 18%;
    width: 80%;
    left: 16px;
    top: 16px;
    font-family: Gilroy Alt;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.005em;
    font-feature-settings: 'liga' off;
    color: #07283C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 2% 0%;

}
.text-section{
    position: static;
    height: 50%;
    width: 60%;
    font-family: Gilroy Alt;
    font-size: 18px;
    line-height: 140%;
    margin: 1.5% 0%;
}
.text-section2{
    height: 50%;
    width: 60%;
    font-family: Gilroy Alt;
    font-size: 18px;
    line-height: 140%;
    margin: 1.5% 0%;
}

.button-1{
    border: 1.5px solid #07283C;
    background-color: #f5f7fa;
    border-radius: 4px;
    width: 70%;
    height: 56px;
    margin-bottom: 13px;
    font-weight: 600;
}
.button-2{
    background: #FFCD00;
    border-radius: 4px;
    width: 70%;
    height: 56px;
    border-width: 0px;
    font-weight: 600;
}